@use "constants";
@use "titlebar";
@import "ag-grid-community/dist/styles/ag-grid.scss";
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';

div.main {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  color: white;
}

.mainTable {

}

.mainBody {
  padding: 2px;
}

.lunar-client-image {
  height: 1em;
}

.playerTagDivider {
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}
