@use "constants";
@use "titlebar";

div.main {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  color: white;
}

.mainBody {
  padding: 2px;
}

.playerHead {
  padding-left: 5px
}

.lunar-client-image {
  height: 1em;
}

.playerTagDivider {
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}
