@import "constants";

div.mainSettingsOption {

}

div.mainSettingsPanel {

}


div.option {
  font-size: medium;
}

div.option-left {
  font-size: medium;
}

div.option-about {
  font-size: medium;
}
